body {
    color: #d924ff;
    background-color: #000000;
    padding: 10px 10px;
    cursor: grab;
}
a {
    color: #d924ff;
}
card {
    color: #d924ff;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: grab;
    padding: 10px 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #d924ff;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 5px 5px;
}
