body {
    color: #d924ff;
    background-color: #000000;
    padding: 10px 10px;
}
card {
    color: #d924ff;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: default;
    padding: 10px 10px;
}
footer {
    color: #d924ff;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: default;
}
