body {
    color: #d924ff;
    background-color: #000000;
    padding: 10px 10px;
    cursor: grab;
}
a {
    color: #d924ff;
}
card {
    color: #d924ff;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: grab;
    padding: 10px 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
hr {
    border: none;
    height: 1px;
    background-color: #d924ff;
    width: 100%;
}
.button {
    color: #d924ff;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: copy;
    padding: 10px 10px;
}
.button:hover {
    color: #d924ff;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    cursor: copy;
    padding: 10px 10px;
}
.button:active {
    color: #d924ff;
    background-color: #000000;
    border: 1px solid #d924ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 0;
    cursor: progress;
    padding: 10px 10px;
}
